
{:paths ["src/dev"
         "src/main"
         "src/test"]

 :deps {io.github.kuhumcst/fetch {:git/sha "7130b9542c261001a6f40408c5d7e9f8641895aa"}}
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.7"}}}
  :test 
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                io.github.lambdaisland/kaocha-cljs2 {:git/sha "2a1cb479e553a298400d5e6171738629f0167455"
                                           #_:mvn/version #_"0.0.35"}}} }}

